@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Utility Format */

h1 {
    padding: 0.5rem;
    margin: 0.5rem;
    font-weight:900;
    line-height: 2.5rem;
}

p {
    font-weight: 100;
    font-size: 1.25rem;
    text-align: center;
}

button {
    padding:1rem;
    margin:0.5rem;
    font-weight: bold;
    background-color: rgb(109, 144, 241);
    border:none;
    border-radius: 10px;
    color:white;
    cursor: pointer;
}

h2 {
    margin: 1rem;
    text-align: center;
}

/* Reusable code */

.nowrap {
    white-space: nowrap;
}

/* Main page */

.curve-edit {
    content: '';
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ff0081, #6827b0);
    border-radius: 0 0 80% 80%/ 0 0 100% 100%;
    transform: scaleX(1.5);
    z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title img {
    text-align: center;
}

.title p {
    padding: 0.5rem;
    font-size: 200%;
}

/* Input bar */

.main-input {
    width: 50%;
    min-width: 300px;
    max-width: 700px;
    border: 1px solid rgb(224, 224, 224);
    display:flex;
}


.main-input input {
    font-size: 100%;
    padding: 10px 5px;
}
input:nth-child(1) {
    width: 80%;
}
input:nth-child(2) {
    width: 20%;
    min-width: 5rem;
}

.main-text {
    margin: 2rem;
}

.properties {
    padding: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.small {
    font-size: 0.7rem;
}

/* MARKETING SECTION */

.marketing {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.marketing-title {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}



.flex-marketing{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


.flex-marketing-item {
    padding: 1rem;
    margin:0.5rem;
    width: 300px;

    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-marketing-item > img {
    margin: 0.5rem;
}


.third-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   background-color: #E37151;
   color: white;
}

.third-section h1 { 
    font-size: 2rem;
    margin-top: 2rem;
}

.third-section p {
    max-width: 350px;
    padding: 1rem;
    margin: 2rem;
}

.market {
    background-color: #825232d4;
    transition: background-color 0.2s ease-out;
}

.market:hover {
    background-color: #7c4a29;
}

/* FAQ section */





/* Media queries to change 

-the background curve layout style


*/